[credential]
	helper = osxkeychain
[user]
	name = Aaron Walker
	email = aaron@treasuryprime.com
[push]
	default = current
[core]
	excludesFile = /Users/awalker/.gitignore
	pager = less -F -X
[init]
	defaultBranch = main
[pull]
	default = current
